<launch>
    <!-- This version uses the openai_ros environments -->
    <!-- <rosparam command="load" file="$(find my_reflex_test_openai)/config/param_training.yaml" /> -->
    <!-- Launch the training system -->


    <group ns="iiwa">
        <node pkg="my_reflex_test_openai" name="start_qlearning_reflex" type="start_qlearning_reflex.py" output="screen" />
        <!-- <node pkg="my_reflex_test_openai" name="run_algo" type="run_algo.py" output="screen" /> -->
    </group>
</launch>